* {
  margin: 0px;
}

body {
  height: 100vh;
  width: 100vw;
}
#header {
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: black;
}

Header > h1 {
  margin: 10px;
  margin-right: 10vw;
}

.product-info {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}

Header > nav > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
li {
  margin: 20px 20px;
}

.button {
  background-color: black;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
}

.loginButton {
  background-color: white;
  color: black;
  border: none;
  height: 6vh;
  width: 100px;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 8px;
  font-family: cursive;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  width: 200px;
  height: 300px;
  margin: 20px;
}

.product:hover {
  box-shadow: 0 12px 16px 0 rgba(241, 229, 8, 0.24),
    0 17px 50px 0 rgba(245, 217, 2, 0.19);
}

.addToCart {
  width: 120px;
  height: 40px;
  background-color: black;
  color: gold;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  border: 1px solid gold;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.addToCart:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.product-image {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

#categories {
  width: 80vw;
  display: grid;
  grid-template-rows: auto auto;
  margin: 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;
}

.siteHeading {
  color: gold;
  font-style: italic;
  font-family: cursive;
}

.header-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
}

.about {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
}

.about:hover {
  box-shadow: 0 12px 16px 0 rgba(241, 229, 8, 0.24),
    0 17px 50px 0 rgba(245, 217, 2, 0.19);
}

.contact {
  width: 90vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
}

.contact:hover {
  box-shadow: 0 12px 16px 0 rgba(241, 229, 8, 0.24),
    0 17px 50px 0 rgba(245, 217, 2, 0.19);
}

.purchase {
  margin: 20px;
}

.checkout {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.checkout-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
}